@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Mango';
    src: url('/assets/font/Mango/MG-SemiBoldItalic.woff2') format('woff2'),
        url('/assets/font/Mango/MG-SemiBoldItalic.woff') format('woff');
    font-weight: bold;
}

html {
    background-color: #191C2E;
}