@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Mango';
    src: url('/assets/font/Mango/MG-SemiBoldItalic.woff2') format('woff2'),
        url('/assets/font/Mango/MG-SemiBoldItalic.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Book-Antiqua";
    src: url('/assets/font/Book-Antiqua.ttf') format('truetype');
}

@font-face {
    font-family: "BricolageGrotesque";
    src: url('/assets/font/BricolageGrotesque.ttf') format('truetype');
}

@font-face {
    font-family: "Maragsa";
    src: url('/assets/font/Maragsa.otf') format('opentype');
}

html {
    background-color: #191C2E;
}